.menu-h {
  display: flex;
  justify-content: space-between;
  padding-left: 8px;
  padding-right: 8px;
  position: fixed;
  width: 100%; /* Faz com que ocupe toda a largura */
  z-index: 1000;
  background-color: white;
  top: 0;
  left: 0;
}

.icon-hamburger {
  color: #a3d9d3;
  font-size: 64px;
  text-align: right;
  padding-left: 8px;
}

.menu-container {
  display: flex;
  justify-content: left;
  position: fixed;
  padding-top: 64px;
  width: 100%;
}

.menu {
  position: fixed;
  /* padding-top: 64px; */
  width: 200px;
  z-index: 5;
  background-color: #2ea684;
  padding: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.menu ul {
  list-style: none;
  font-size: 32px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.close {
  color: white;
  font-size: 32px;
  text-align: right;
}

.menu-close {
  display: none;
}

.list-item {
  display: block;
  text-decoration: none;
  color: white;
  font-weight: 600;
  transition: cor 0.3s ease;
}

.list-item :hover {
  color: #a3d9d3;
  font-weight: 600;
}
